.outer-box {
    border: 1px solid black;
    height: 350px;
    width: 200px;
    margin: 10px;
    padding: 20px;
}

.outer-box:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border: 1px solid red;
}

.image-product {
    width: 180px;
    height: 180px
}

.quantity {
    position: relative;
    bottom: 20px;
    left: 40px
}

.button__design {
    position: relative;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;

}

.item__name {

    font-size: 14px;
    height: 10px
}

.price__product {
    font-size: 12px !important;
    position: relative;

}

.item_name_box {

    height: 50px;
}